/* Resume Custom CSS */

	/* base styles */
	
		body { 
			background : #111;	
			font-family : "Droid Serif", Georgia, "Times New Roman", serif;
			color : #fff;		
		}
	
		h1, .h1,
		h2, .h2,
		h3, .h3,
		h4, .h4,
		h5, .h5,
		h6, .h6	{ 
			font-family : "Newcastle-BasicClean", Helvetica, Arial, serif;
			font-weight : normal;
			margin-bottom : 1rem;
		}
		
		h1 {
			margin-top : .5rem;
			margin-bottom : .3rem;
			line-height : 1.1;
		}
		
		blockquote, .blockquote {
			border-flat-top : 1px solid #e8e8e8;
			border-flat-bottom : 1px solid #e8e8e8;
			margin : 1.25rem 1.5rem 1.25rem 1.5rem;
			padding : .75rem;
			color : #555;
			font-size : .75em;
		}		
		
		img { border : 5px solid #e8e8e8; }
	
		img:hover { border-color : #efefef; }		
		
		a:link,
		a:visited 	{ color : #3498DB; text-decoration : none; }
		a:hover,
		a:active 	{ color : #a8d4f1; text-decoration : none; }

	/* generic box */

		.resume-box {
			background-color : #fff;
			margin : 2rem auto 2rem auto;
			padding : 1.5rem 1.5rem .75rem 1.5rem;
			border : 10px solid #333;
			color : #111;
			max-width : 1050px;
		}
	
	/* header */	
	
		header.resume-box { padding : 1rem 0 1rem 0; }
		
		header a:link,
		header a:visited { color : #27AE60; text-decoration : none; }

		header a:hover,
		header a:active { color : #2ECC71; text-decoration : none; }
		
		header img { border : 5px solid #e8e8e8; }		
		
		header ul.tags {
			list-style-type : none;
			margin : 1rem auto 1rem auto;
			max-width : 80%;		
			padding : 0;
			line-height : 1.0;
		}
		
		header ul.tags li {
			font-size : .7em;
			display : inline-block;
			padding : 0 1.5rem 0 1.5rem;
			line-height : 1.0;	
			margin : 0 0 1rem 0;
			text-align : center;
			width : 32%;
		}		

		header ul.tags li a { display : inline; }	
		
		header ul.tags li a:link,
		header ul.tags li a:visited { color : #ccc; font-weight : bold; text-decoration : none; }		

		header ul.tags li a:hover,
		header ul.tags li a:active { color : #555; font-weight : bold; text-decoration : none; }		
	
	/* resume boxes */
		
		.resume-box ul {
			list-style-type : none;
			padding : 0;
			margin : 0;
		}
		
		.resume-box li { margin-bottom : 1.15rem; }
		
		.resume-box h2 {
			text-transform : uppercase;
			font-size : .8em; 
			margin-bottom : 1rem;
		}
		
		.resume-box h3 {
			margin-bottom : .2rem;
			line-height : 1.1;
		}
		
		.resume-box h3 a:link 		{ color : #111; font-weight : normal; text-decoration : none; }
		.resume-box h3 a:visited 	{ color : #111; font-weight : normal; text-decoration : none; }
		.resume-box h3 a:hover 	{ color : #555; font-weight : normal; text-decoration : none; }
		.resume-box h3 a:active 	{ color : #555; font-weight : normal; text-decoration : none; }
		
		.resume-box p {
			font-size : .8em;
			margin-bottom : .8rem;
		}
		
		.resume-box p span { color : #ccc; }
		
		.media-item {
			display : inline-block;
			margin-right : .75rem;
		}
	
	/* footer */
	
		.resume-box footer a { font-weight : normal !important; }
		
		.social-links { margin-top : -.1rem; }
		
		.social-links a {
			display : inline-block;
			margin-left : .5rem;
		}
		
		.social-links a:link,
		.social-links a:visited { color : #ccc; }

		.social-links a:hover,
		.social-links a:active { color : #2980b9; }
		
		.social-links i { font-size : 1.5em; }
	
/* subfooter */	
	
	.footer {
		margin-top : -1rem;
		color : #222;
	}
	
	.footer a:link,
	.footer a:visited 	{ color : #333 !important; }
	.footer a:hover,
	.footer a:active 	{ color : #555 !important; text-decoration : none; }
	
/* flat colors */
	
	.border-flat-yellow				{ border-color : #F1C40F; }
	.color-flat-yellow	 			{ color : #F1C40F; }

	.border-flat-orange				{ border-color : #F39C12; }
	.color-flat-orange			 	{ color : #F39C12; }
	
	.border-flat-red				{ border-color : #E74C3C; }
	.color-flat-red 			 	{ color : #E74C3C; }
	
	.border-flat-purple				{ border-color : #8E44AD; }
	.color-flat-purple			 	{ color : #8E44AD; }
	
	.border-flat-blue				{ border-color : #3498DB; }
	.color-flat-blue 			 	{ color : #3498DB; }
	
	.border-flat-green				{ border-color : #27AE60; }
	.color-flat-green 			 	{ color : #27AE60; }
	
	.border-flat-silver				{ border-color : #BDC3C7; }
	.color-flat-silver 			 	{ color : #BDC3C7; }
	
/* flat links */
		
	.link-flat-yellow a:hover				{ color : #F1C40F !important; }
	.link-flat-orange a:hover				{ color : #F39C12 !important; }
	.link-flat-red a:hover					{ color : #E74C3C !important; }	
	.link-flat-purple a:hover				{ color : #8E44AD !important; }	
	.link-flat-blue a:hover					{ color : #3498DB !important; }	
	.link-flat-green a:hover				{ color : #27AE60 !important; }
	.link-flat-silver a:hover				{ color : #BDC3C7 !important; }
	
/* vivid colors */

	.border-vivid-yellow				{ border-color : #f7e041; }
	.color-vivid-yellow	 				{ color : #f7e041; }

	.border-vivid-orange				{ border-color : #F39C12; }
	.color-vivid-orange			 		{ color : #F39C12; }
	
	.border-vivid-red					{ border-color : #e2413e; }
	.color-vivid-red 			 		{ color : #e2413e; }
	
	.border-vivid-purple				{ border-color : #8c09bc; }
	.color-vivid-purple			 		{ color : #8c09bc; }
		
	.border-vivid-blue					{ border-color : #1488c8; }
	.color-vivid-blue 			 		{ color : #1488c8; }
	
	.border-vivid-green					{ border-color : #00984a; }
	.color-vivid-green 			 		{ color : #00984a; }
	
	.link-vivid-yellow a:hover			{ color : #f7e041 !important; }
	.link-vivid-orange a:hover			{ color : #F39C12 !important; }
	.link-vivid-red a:hover				{ color : #e2413e !important; }	
	.link-vivid-purple a:hover			{ color : #8c09bc !important; }	
	.link-vivid-blue a:hover			{ color : #1488c8 !important; }	
	.link-vivid-green a:hover			{ color : #00984a !important; }
	
/* devices */	

	.show-sm { display : none; }	

	@media handheld, only screen and (max-width: 959px) {
	
		.resume-box {
			margin-top : 1rem;
			margin-bottom : 1rem;
		}
		
		.footer { margin-top : 0; }
	
	}	

	@media handheld, only screen and (max-width: 767px) {
	
		.show-sm { display : block; }		
		.hide-sm { display : none; }		
	
		/* header */
		
			header.resume-box {
				padding-left : 5%;
				padding-right : 5%;
			}
			
			header img { max-width : 300px; }
			
		/* content */	
	
			.resume-box p span { display : block; }	
			
			.media-item { width : 100%; }
			
			.media-item img {
				display : block !important;
				/*margin : 0 auto 0 auto;*/
			}				
		
		/* contact */		
			
			footer .social-links {
				float : none;
				display : block;
				clear : both;
			}
	
			footer .social-links a {
				margin-left : 0;
				margin-right : .5rem;
			}
			
		/* footer */
		
			.footer p { display : inline; }
			
			.footer a {
				display : block;
			}
			
			.footer a:last-child {
				color : #555 !important;
			}
			
			.footer .sep { display : none; }	
			
			body { padding-bottom : 1rem; }	
	
	}	
	
	@media handheld, only screen and (max-width: 539px) {
	
			header.resume-box { margin-top : 0rem; }
			
			header h1 {
				line-height : 1.0;
				margin-bottom : .7rem;
			}
			
			header .show-sm { margin : 1rem auto 1.25rem auto; }
		
			header blockquote {
				width : auto !important;
				margin-left : 0 !important;
				margin-right : 0 !important;
				padding-left : .5rem !important;
				padding-right : .5rem !important;
			}
			
			header h6 a { display : block; }
			
			header ul.tags { margin-bottom : 2rem; }
			
			header ul.tags li {
				width : 100%;
				display : block;
			}	
	
	}		