/* Resume Custom CSS */

	/* base styles */
	
		body { 
			background : #111;	
			font-family : "Droid Serif", Georgia, "Times New Roman", serif;
			color : #fff;		
		}
	
		h1, .h1,
		h2, .h2,
		h3, .h3,
		h4, .h4,
		h5, .h5,
		h6, .h6	{ 
			font-family : "Newcastle-BasicClean", Helvetica, Arial, serif;
			font-weight : normal;
			margin-bottom : 1rem;
		}
		
		h1 { margin-bottom : .15rem; }
		
		blockquote, .blockquote {
			border-flat-top : 1px solid #e8e8e8;
			border-flat-bottom : 1px solid #e8e8e8;
			margin : 1.25rem 1.5rem 1.25rem 1.5rem;
			padding : .75rem;
			color : #555;
			font-size : .75em;
		}		
		
		a:link,
		a:visited 	{ color : #3498DB; text-decoration : none; }
		a:hover,
		a:active 	{ color : #a8d4f1; text-decoration : none; }

	/* generic box */

		.box {
			background-color : #fff;
			margin : 2rem auto 2rem auto;
			padding : 1.5rem 1.5rem .75rem 1.5rem;
			border : 10px solid #333;
			color : #111;
			max-width : 1050px;
		}
	
	/* header */	
	
		header.box { padding : 1rem 1.5rem .5rem 0; }
		
		header img { border : 10px solid #e8e8e8; }
	
		header img:hover { border-color : #efefef; }
		
		header a:link,
		header a:visited { color : #27AE60; text-decoration : none; }

		header a:hover,
		header a:active { color : #2ECC71; text-decoration : none; }
		
		header ul.tags {
			list-style-type : none;
			margin : 1.25rem 2rem 1rem 2rem;
			padding : 0;
			line-height : 1.0;
		}
		
		header .tags li {
			font-size : .7em;
			display : inline-block;
			padding : 0 1.5rem 0 1.5rem;
			line-height : 1.0;	
			margin : 0 0 1rem 0;
			text-align : center;	
		}		

		header .tags li a:link,
		header .tags li a:visited { color : #ccc; font-weight : bold; text-decoration : none; }		

		header .tags li a:hover,
		header .tags li a:active { color : #555; font-weight : bold; text-decoration : none; }		
	
	/* resume boxes */
		
		.box ul {
			list-style-type : none;
			padding : 0;
			margin : 0;
		}
		
		.box li { margin-bottom : 1.15rem; }
		
		.box h2 {
			text-transform : uppercase;
			font-size : .8em; 
			margin-bottom : 1rem;
		}
		
		.box h3 { margin-bottom : .1rem; }
		
		.box h3 a:link 		{ color : #111; font-weight : normal; text-decoration : none; }
		.box h3 a:visited 	{ color : #111; font-weight : normal; text-decoration : none; }
		.box h3 a:hover 	{ color : #555; font-weight : normal; text-decoration : none; }
		.box h3 a:active 	{ color : #555; font-weight : normal; text-decoration : none; }
		
		.box p { font-size : .8em; }
		
		.box p span { color : #ccc; }
	
	/* footer */
	
		.box footer a { font-weight : normal !important; }
		
		.social-links { margin-top : -.1rem; }
		
		.social-links a {
			display : inline-block;
			margin-left : .5rem;
		}
		
		.social-links a:link,
		.social-links a:visited { color : #ccc; }

		.social-links a:hover,
		.social-links a:active { color : #a8d4f1; }
		
		.social-links i { font-size : 1.5em; }
	
/* subfooter */	
	
	.sub-footer a:link,
	.sub-footer a:visited 	{ color : #222 !important; }
	.sub-footer a:hover,
	.sub-footer a:active 	{ color : #333 !important; text-decoration : none; }

	
/* flat colors */
	
	.border-flat-yellow				{ border-color : #F1C40F; }
	.color-flat-yellow	 			{ color : #F1C40F; }

	.border-flat-orange				{ border-color : #F39C12; }
	.color-flat-orange			 	{ color : #F39C12; }
	
	.border-flat-red				{ border-color : #E74C3C; }
	.color-flat-red 			 	{ color : #E74C3C; }
	
	.border-flat-purple				{ border-color : #8E44AD; }
	.color-flat-purple			 	{ color : #8E44AD; }
	
	.border-flat-blue				{ border-color : #3498DB; }
	.color-flat-blue 			 	{ color : #3498DB; }
	
	.border-flat-green				{ border-color : #27AE60; }
	.color-flat-green 			 	{ color : #27AE60; }
	
	.border-flat-silver				{ border-color : #BDC3C7; }
	.color-flat-silver 			 	{ color : #BDC3C7; }
	
/* flat links */

	/*.link-flat-yellow a:link				{ color : #F1C40F !important; }
	.link-flat-orange a:link				{ color : #F39C12 !important; }
	.link-flat-red a:link					{ color : #E74C3C !important; }	
	.link-flat-purple a:link				{ color : #8E44AD !important; }	
	.link-flat-blue a:link					{ color : #3498DB !important; }	
	.link-flat-green a:link					{ color : #27AE60 !important; }
	.link-flat-silver a:link				{ color : #BDC3C7 !important; }*/
		
	.link-flat-yellow a:hover				{ color : #F1C40F !important; }
	.link-flat-orange a:hover				{ color : #F39C12 !important; }
	.link-flat-red a:hover					{ color : #E74C3C !important; }	
	.link-flat-purple a:hover				{ color : #8E44AD !important; }	
	.link-flat-blue a:hover					{ color : #3498DB !important; }	
	.link-flat-green a:hover				{ color : #27AE60 !important; }
	.link-flat-silver a:hover				{ color : #BDC3C7 !important; }
	
/* devices */		
		
	/* sm- */
	@media only screen and (max-width: 719px) {
	
		body { padding-top : 1rem; }
		
		header.box { padding : 0 1rem 1rem 1rem; }
		
		header h1 { line-height : 1.1; margin-bottom : 1rem; }
	
		header img {
			display : block;
			margin-left : auto;
			margin-right : auto;
		}
	
		.box h3 { font-size : 1.3em; }
		
	}
